@using FWS.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
    <div class="row">
        <div class="col-xs-12">
            <div id="login-box">
                <div id="login-box-holder">
                    <div class="row">
                        <div class="col-xs-12">
                            <header id="login-header">
                                <div id="login-logo">
                                    <img src="~/Content/css/img/logo.png" alt="" />
                                </div>
                            </header>
                            <div id="login-box-inner">
                                @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        @Html.TextBoxFor(m => m.Email, new {@class = "form-control", @placeholder = "Email address"})
                                        <span class="help-block">
                                            <i class="icon-remove-sign"></i>
                                            @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                                        </span>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                        @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                                        <span class="help-block">
                                            <i class="icon-remove-sign"></i>
                                            @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                                        </span>
                                    </div>
                                    <div id="remember-me-wrapper">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="checkbox-nice">
                                                    <input type="checkbox" id="remember-me" checked="checked" />
                                                    <label for="remember-me">
                                                        Remember me
                                                    </label>
                                                </div>
                                            </div>
                                            <div id="login-forget-link" class="col-xs-6">
                                                @Html.ActionLink("Forgot password?", "ForgotPassword")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button type="submit" class="btn btn-success col-xs-12">Login</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <p class="social-text">Or login with</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <button type="submit" class="btn btn-primary col-xs-12 btn-facebook">
                                                <i class="fa fa-facebook"></i> facebook
                                            </button>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <button type="submit" class="btn btn-primary col-xs-12 btn-twitter">
                                                <i class="fa fa-twitter"></i> Twitter
                                            </button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div id="login-box-footer">
                    <div class="row">
                        <div class="col-xs-12">
                            Do not have an account?
                            @Html.ActionLink("Register now", "Register")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




@*<h2>@ViewBag.Title.</h2>
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>
*@
    

                    @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@


@*
    }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}